body {
    margin : 0;
    background: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400; 
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #1f2937;
}

header::after{
    content: '';
    display: table; 
    clear: both;
}

.logo {
    float: left;
    padding-bottom: 10px;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none; 
}

nav li {
    display: inline-block; 
    margin-left: 70px; 
    padding-top: 65px; 
    position: relative;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Gill Sans Extrabold", sans-serif;
}

nav a:hover {
    color: #558dd6;
    transition:ease-in 200ms; 
}

nav a::before {
    content: '';
    display: block; 
    height: 5px;
    background-color: #444; 
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms; 
}

nav a:hover::before {
    width: 100%;
}
